// Fonts
$font-main: 'Merienda', sans-serif;
$font-additional: 'Atma', system-ui, serif;

// Colors
$color-background: #2e074a;
$color-base: #fafcfd;
$color-bkg-option: #532d68;
$color-bkg-input: #dad5ef;
$color-bkg-btn: #db1f1f;
