// Fonts
$font-main: 'Merienda', sans-serif;
$font-additional: 'Atma', system-ui, serif;

// Colors
$color-background: #2e074a;
$color-base: #e7f1f7;
$color-btn-base: #e4ebef;
$color-bkg-option: #532d68;
$color-bkg-modal: #b653ed;
$color-bkg-input: #dad5ef;
$color-bkg-btn: #db1f1f;
$color-bkg-btn-hover: #f94848;
$color-btn-shadow: #f94848;
